
.slide-enter-active,.slide-leave-active{
	transition:all ease 40000ms;
}

.slide-leave-active{
	transform:translateX(0%);
}
.slide-enter-active{
	transform:translateX(-100%);
}
.slide-enter{
	transform:translateX(0%);
}

.slideup-enter-active, .slideup-leave-active {
	transition: all ease 400ms;
}
.slideup-enter ,.slideup-leave-to {
	transform: translateY(100%);
}

.bounce-enter-active, .bounce-leave-active {
	transition: all ease 400ms;
}
.bounce-enter, .bounce-leave-to {
	transform: scale(0,0);
}

.scaleY-enter-active, .scaleY-leave-active {
	transition: all ease 400ms;
	transform-origin: 50% 0;
}
.scaleY-enter, .scaleY-leave-to {
	transform: scaleY(0);
}