<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0">
	<title>测试</title>
	<link rel="stylesheet" href="../public/css/page/base.css">
	<link rel="stylesheet" href="../public/css/fonts.css">
	<link rel="stylesheet" href="../public/css/sui/sm-extend.css">
</head>
<body>
	
	
	<div id="bottomMenu"></div>

	<div class="page">
		<header class="bar bar-nav">
			<a href="#" class="button button-link button-nav pull-left back">
				<span class="icon icon-arrow-left2"></span>
			</a>
			<h1 class="title">首页</h1>
		</header>
		
		<div class="content native-scroll">
			<div class="list-block contacts-block">
				<div class="list-group">
					<ul>
						<li class="list-group-title">A</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">
										小王
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">
										小王
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">
										小王
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-group">
					<ul>
						<li class="list-group-title">B</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">
										小王
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">
										小王
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title">
										小王
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<nav class="bar bar-tab">
			<a href="#" class="tab-item external active">
				<span class="icon icon-users"></span>
				<span class="tab-label">联系人</span>
			</a>
			<a href="message/chat.html" class="tab-item external ">
				<span class="icon icon-bubbles2"></span>
				<span class="tab-label">消息</span>
			</a>
			<a href="#" class="tab-item external ">
				<span class="icon icon-user-tie"></span>
				<span class="tab-label">个人中心</span>
			</a>
		</nav>
	</div>
	<script src="../public/js/lib/zepto/zepto.min.js"></script>
	<script src="../public/js/lib/zepto/touch.js"></script>
	<script src="../public/js/sui/sm.min.js"></script>
	<script src="../public/js/sui/sm-city-picker.min.js"></script>
	<script src="../public/js/sui/sm-extend.min.js"></script>
	<script src="../public/js/lib/react/react.min.js"></script>
	<script src="../public/js/page/jsx/index.js"></script>
</body>
</html>