<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable"> 
	<meta content="yes" name="apple-touch-fullscreen"> 
	<meta content="telephone=no,email=no" name="format-detection"> 	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="x5-fullscreen"content="true"/>
	<meta name="full-screen"content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0">
	<title>stocks</title>
    <link rel="stylesheet" href="/dist/icon/iconfont.css">
</head>
<body>
	<div id="app" >
	    <transition name='fade1'>
	        <router-view></router-view>
	    </transition>
	</div>
	
	<script src="/dist/js/main.min.js"></script>
</body>
</html>