<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable"> 
	<meta content="yes" name="apple-touch-fullscreen"> 
	<meta content="telephone=no,email=no" name="format-detection"> 	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="x5-fullscreen"content="true"/>
	<meta name="full-screen"content="yes">
	<title>登陆</title>
	<link rel="stylesheet" href="../css/page/passport/reg.min.css">
	<script src="../js/lib/flexible.js"></script>
	
	
</head>
<body>
	
	<div class="content">
		<div class="passport_form_wraper">
			<ul class="login_form_ul">
				<li class="list_item">
					<label >手机</label>
					<input type="text" class="list_text" placeholder="请输入手机号码">
				</li>
				<li class="list_item">
					<label >密码</label>
					<input type="password" class="list_text" placeholder="请输入密码">
				</li>
				<li class="list_item">
					<label >密码</label>
					<input type="password" class="list_text" placeholder="确认密码">
				</li>

				<li class="list_item btn_item">
					提交
				</li>
			</ul>
		</div>
	</div>
</body>
</html>