<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单</title>
</head>
<body>
	<form action="/api/uploadFile">
		<p><input type="text" name="username" value="{{username}}"></p>
		<p><input type="file" name="file"></p>
		<p><input type="submit" value="提交"></p>
	</form>
</body>
</html>