@import "../base";
@import "../ignore/theme";
@import "../ignore/passport-form";

body{
	background-color:#f8f8f8;
}

@include DPR(".passport_form_wraper .list_text",14px);

.passport_form_wraper{
	margin:pxToRem(100) pxToRem(20) pxToRem(20) pxToRem(20);
	label{
		width: pxToRem(80);
	}
}

