<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>王宇简历</title>
	<style>
		
		*{margin:0;padding:0;}
		ul{
			width: 1000px;
			margin:30px auto;
			border:1px solid #e8e8e8;
		}
		ul li{
			display:flex;
			display:-webkit-flex;
			line-height: 30px;
			border-bottom:1px solid #e8e8e8;
		}
		ul li .title{
			width: 150px;
			background-color: #f6f6f6;
			text-align: right;
			padding-right: 10px;

		}
		ul li .text{
			flex:1;
			text-align: left;
			padding-left: 10px;
			color: #484848;
		}
		ul li .text.work{padding:20px 10px;}
		ul li .text.work p{line-height: 28px;margin-bottom: 10px;}
	</style>
</head>
<body>
	<ul>
		<li>
			<div class="title">姓名</div>
			<div class="text">王宇</div>
			<div class="title">性别</div>
			<div class="text">男</div>
		</li>
		<li>
			<div class="title">出生年月</div>
			<div class="text">1988.8</div>
			<div class="title">联系方式</div>
			<div class="text">13588495399</div>
		</li>
		<li>
			<div class="title">学校</div>
			<div class="text">河南理工大学</div>
			<div class="title">专业</div>
			<div class="text">应用物理</div>
		</li>
		<li>
			<div class="title">现住址</div>
			<div class="text">滨江滨康小区</div>
		</li>
		<li>
			<div class="title">工作经历</div>
			<div class="text work">
				<p>2012.7-2014.3  销售相关工作（不适合也不喜欢）</p>
				<p>2014.3—2014.10 工作单位：杭州凯和精工机械有限公司 职位：数控编程 操机（期间开始自学前端）</p>
				<p>2014.10—2015.1   兼职一个前端小项目，为一个创业者实现一个期货的K线绘图原型（使用svg实现）。</p>
				<p>2015.1—2015.10 工作单位：杭州筑家易网络科技有限公司 职位：前端(微信端为主，期间用到的技术HTML(5)、CSS(3)、jQuery、Bootstrap)</p>
				<p>2015.10.8-至今 工作单位：浙江佰财金融信息服务有限公司 职位：前端。期间主要做手机端网站以及活动页面和页面改版，用到的技术有：git、svn、gulp、webpack、node、seajs、sass...等。</p>
			</div>
		</li>
		<li>
			<div class="title">技能总结</div>
			<div class="text">
				<h4>版本管理</h4>
				<p>熟练使用 git svn </p>
				<h4>基本技能</h4>
				<p>HTML(5)、CSS(3)、jQuery、zepto、bootstrap</p>
				<p>es6：会使用一些简单的语法、promise、箭头函数等</p>
				<p>nodejs：可以使用express启动服务并编写路由和页面逻辑</p>
				<p>数据库：</p>
				<p>移动端：保证页面在各种分辨率手机中的尺寸自适应和高清还原、webview和app交互</p>
				<p>mvc：熟悉vue框架（自己写过一些demo，使用过路由以及vuex数据管理） react（做过一些了解）react-native（初始化本地项目并启动以及使用es6编写简单的组件）</p>
				<p>编写原生js插件以及jQuery插件</p>
				<h4>工程化</h4>
				<p>gulp webpack sass seajs </p>
				
				<h4>个人github</h4>
				<p>github地址：https://github.com/wy2008826</p>
				<p>8.完整版wap项目github 地址：https://github.com/wy2008826/workFile/tree/gh-pages/qbm/wap</p>
			</div>
		</li>
	</ul>
	
	<dl>
		<dt></dt>
	</dl>
</body>
</html>