
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen"> 
		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
		<meta name="full-screen"content="yes">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>新增电梯</title>
		<link rel="stylesheet" href="css/dianti.min.css">
	</head>
	<body>
		<div class="left-menu">
			<div class="list">
				<ul>
					<li>
						<a  class="menu-link" href="add">新增楼盘</a>
					</li>
					<li>
						<a  class="menu-link" href="search">楼盘查询</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page-wraper">
			<form class="panel" action="addElevator.html" id="addForm">
				<div class="panel-title row">
					新增楼盘
				</div>
				<div class="panel-content">
					<div class="form form-horizontal mg-t-30">
						<ul class="row" >
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									城市：
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control" name="city">
								</div>
							</li>
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									区域：
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control" name="area">
								</div>
							</li>
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									楼盘名称：
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control" name="loupan">
								</div>
							</li>
						</ul>
						<ul class="row">
							
						</ul>
					</div>
				</div>
				<div class="panel-footer">
					<input type="submit" class="btn btn-md btn-blue" id="addBtn" value="添加">
				</div>
			</form>
		</div>


		<script type="text/javascript" src="js/sea.js"></script>
		<script type="text/javascript" src="js/sea-config.js"></script>
		<script type="text/javascript">
			seajs.use("page/add.min.js");
		</script>
	</body>
</html>
	