
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen"> 
		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
		<meta name="full-screen"content="yes">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>新增电梯</title>
		<link rel="stylesheet" href="css/dianti.min.css">
	</head>
	<body>

		<div class="left-menu">
			<div class="list">
				<ul>
					<li>
						<a  class="menu-link">新增楼盘</a>
					</li>
					<li>
						<a  class="menu-link">楼盘查询</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page-wraper">
		<p>{{title}}</p>
			<div class="panel">
				<div class="panel-title row">
					新增楼盘
				</div>
				<div class="panel-content">
					<form class="form form-horizontal mg-t-30">
						<ul class="row">
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									楼盘名称
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control">
								</div>
							</li>
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									楼盘名称
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control">
								</div>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>


		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/page/add.min.js"></script>
	</body>
</html>
	