
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen"> 
		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
		<meta name="full-screen"content="yes">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>新增楼盘</title>
		<link rel="stylesheet" href="css/dianti.min.css">

	</head>
	<body>
		<div class="page-container form">
			<input type="hidden" value="{{timestap}}" id="subHouseId">
			<div class="row form-group mg-t-20" >
				<div class="col-all-3">
					<label class="control-label">电梯编号:</label>
				</div>
				<div class="col-all-5">
					<input type="text" class="form-control" id="elevatorName">
				</div>
			</div>
			<div class="row form-group" >
				<div class="col-all-3">
					<label class="control-label">电梯可用墙面数：</label>
				</div>
				<div class="col-all-5">
					<input type="text" class="form-control" id="elevatorNum">
				</div>
			</div>
			<div class="row text-center" >
				<span class="btn btn-blue" id="formConfirm">确定</span>
			</div>
		</div>
		<script type="text/javascript" src="js/sea.js"></script>
		<script type="text/javascript" src="js/sea-config.js"></script>
		<script type="text/javascript">
			seajs.use("page/addElevator.min.js");
		</script>
	</body>
</html>
	