<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen"> 
		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
		<meta name="full-screen"content="yes">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>查询电梯</title>
		<link rel="stylesheet" type="text/css" href="/js/plugin/laydate/need/laydate.css">
		<link rel="stylesheet" type="text/css" href="/js/plugin/laydate/skins/molv/laydate.css">
		<link rel="stylesheet" href="css/dianti.min.css">
	</head>
	<body>
		<div class="left-menu">
			<div class="list">
				<ul>
					<li>
						<a  class="menu-link" href="add">新增楼盘</a>
					</li>
					<li>
						<a  class="menu-link" href="search">楼盘查询</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page-wraper">
			<div class="panel form form-horizontal mg-t-30" id="searchForm" >
				<div class="panel-title row">
					查询电梯
				</div>
				<div class="panel-content">
					<div >
						<ul class="row"  id="groupSelect">
							<li class="col-all-4 form-group">
								<div class="row">
									<div class="col-all-4 control-label text-right">
										地址：
									</div>
									<div class="col-all-8">
										<select class="form-control province" name="province" id="province">
											<option>浙江省</option>
										</select>
									</div>
									
								</div>
							</li>
							<li class="col-all-4 form-group">
								<div class="row">
									<div class="col-all-6">
										<select class="form-control city" name="city" id="city">
											<option>杭州市</option>
										</select>
									</div>
									<div class="col-all-6">
										<select class="form-control area" name="area" id="area">
											<option>西湖区</option>
										</select>
									</div>
								</div>
							</li>
						</ul>
						<ul class="row" >
							<li class="col-all-8 form-group">
								<div class="row">
									<div class="col-all-2 control-label text-right">
										合作期限：
									</div>
									<div class="col-all-4">
										<input type="text" name="cooperStart" class="form-control" id="cooperStart">
									</div>
									<div class="col-all-2 control-label text-center">
										至
									</div>
									<div class="col-all-4">
										<input type="text" name="cooperEnd" class="form-control" id="cooperEnd">
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-footer">
					<ul class="row text-center">
						<span class="btn btn-blue" id="searchBtn">查询</span>
					</ul>
				</div>
			</div>
			<div class="panel">
				<div class="panel-title">
					查询列表
				</div>
				<div class="panel-content">
					<table class="table table-striped hide" id="listTable">
						<thead>
							<tr>
								<th>地址</th>
								<th>楼盘名称</th>
								<th>合作日期</th>
							</tr>
						</thead>
						<tbody id="listBody" >
							<script type="text/template" id="listTpl">
								<%_.each(dataList,function(item,i){%>
									<tr>
										<td><%=item.province%>——<%=item.city%>——<%=item.area%></td>
										<td><%=item.loupanName%></td>
										<td><%=item.cooperStart%>至<%=item.cooperEnd%></td>
									</tr>
								<%});%>
							</script>
						</tbody>
					</table>
				</div>
				<div class="panel-footer text-center">
					<div class="kkpager" id="kkpager"></div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="js/sea.js"></script>
	<script src="js/seajs-css.js"></script>
	<script type="text/javascript" src="js/sea-config.js"></script>
	<script type="text/javascript">
		seajs.use("page/search.min.js");
	</script>
</html>




	