<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen"> 
		<meta content="telephone=no,email=no" name="format-detection"> 	
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="x5-fullscreen"content="true"/>
		<meta name="full-screen"content="yes">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>查询电梯</title>
		<link rel="stylesheet" href="css/dianti.min.css">
	</head>
	<body>
		<div class="left-menu">
			<div class="list">
				<ul>
					<li>
						<a  class="menu-link">新增楼盘</a>
					</li>
					<li>
						<a  class="menu-link">楼盘查询</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="page-wraper">
			<form class="panel form form-horizontal mg-t-30" id="searchForm" action="searchElevator.html">
				<div class="panel-title row">
					查询电梯
				</div>
				<div class="panel-content">
					<div >
						<ul class="row">
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									城市：
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control" name="city">
								</div>
							</li>
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									区域：
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control" name="area">
								</div>
							</li>
							<li class="col-all-4 form-group">
								<div class="col-all-4 control-label text-right">
									楼盘名称
								</div>
								<div class="col-all-8">
									<input type="text" class="form-control" name="house">
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="panel-footer">
					<ul class="row text-center">
						<input type="submit" value="查询" class="btn btn-blue">
					</ul>
				</div>
			</form>
			<div class="panel">
				<div class="panel-title">
					查询列表
				</div>
				<div class="panel-content">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>城市</th>
								<th>区域</th>
								<th>楼盘名称</th>
								<th>楼盘数量</th>
							</tr>
						</thead>
						<tbody id="listBody" class="hide">
							<script type="text/template" id="listTpl">
								<%_.each(dataList,function(item,i){%>
									<tr>
										<td><%=item.city%></td>
										<td><%=item.area%></td>
										<td><%=item.house%></td>
										<td><%=item.houseNum%></td>
									</tr>
								<%});%>
							</script>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<div class="kkpager" id="kkpager"></div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="js/sea.js"></script>
	<script type="text/javascript" src="js/sea-config.js"></script>
	<script type="text/javascript">
		seajs.use("page/search.min.js");
	</script>
</html>




	